#section4 {

    .container {
        padding: 55px 10px;

        h2 {
            text-align: center;
            margin-bottom: 35px;
        }

        .row {
            justify-content: space-between;

            .col-lg-4 {
                margin: 15px auto;

                .card {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background: $card-bg;
                    padding: 33px 30px;
                    max-width: 350px;
                    margin: auto;
                    transition: .3s;
                    &:hover {
                        transform: scale(0.95);
                    }

                    h3 {
                        color: $main-font-color;
                        letter-spacing: 1.5px;

                        span {
                            color: $title-color;
                        }
                    }

                    .line {
                        max-width: 230px;
                        width: 100%;
                        height: 2px;
                        background: $title-color;
                        margin: 36px 0 26px 0;
                    }

                    p {
                        font-size: $p-card-size;
                        color: $p-main-color;
                        margin: 15px 0;
                        font-family: 'Rubik-Medium';
                        text-align: center;
                    }
                }
            }
        }
    }
}