// scss file for font and icon includes

/* Fonts */
@font-face {
  font-family: 'Russo-Regular';
  src: url('./../assets/fonts/RussoOne-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Rubik-Regular';
  src: url('./../assets/fonts/Rubik-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Rubik-Medium';
  src: url('./../assets/fonts/Rubik-Medium.ttf');
  font-weight: 500;
}