// scss file for variable initializing

// colors
    $main-bg: #ffffff;
    $card-bg: #3C3C3C;
    $title-color: rgb(235, 20, 20);
    $main-font-color: #ffffff;
    $p-main-color: #ffffff;
    $p-second-color: #2E2E2E;
    $p-third-color: #9D9D9D;
    $button-color: #ffffff;
    $menu-bg: #1C1C1C;
    $section-bg: rgb(15, 15, 15);
    // $section-bg: #000000;
    $section-bg2: #1c1c1c;
    $footer-bg: #0E0E0E;

//sizes
    $h1-size: 42px;
    $h2-size: 42px;
    $h3-size: 30px;
    $p-size: 27px;
    $p-card-size: 20px;


